body {
    font-family: Bitstream Vera Sans,Verdana, sans-serif;
    font-size: 10pt;
	color: black;
    background: #eee;
}

#content {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 25px;
}

h1 {
    font-family: Georgia, serif;
    font-weight: normal;
  margin-bottom: 0px;
}

h2 {
    font-family: Georgia, serif;
    font-weight: normal;
  margin-top: 5px;
  margin-bottom: 20px;
}

h3 {
    font-family: Georgia, serif;
  margin-top: 30px;
  margin-bottom: 5px;
}

dt {
  font-weight: bold;
  padding-top: 10px;
}

dd {
    margin-bottom: 8px;
    line-height: 13pt;
}

dd.jobtitle {
    font-style: italic;
    margin-bottom: 10px;
}

dl {
  margin: 0;
  border-top: 1px solid #f81;
  border-bottom: 1px solid #f81;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  background: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-left: 10px;
  margin-top: 5px;
}

li {
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #951;
}

a:hover {
    color: #f81;
}